name: Release please

on:
  push:
    branches:
      - main

jobs:
  release_please:
    name: Release Please
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          command: manifest
          monorepo-tags: true
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Docker meta
        id: meta
        if: ${{ steps.release.outputs.releases_created }}
        uses: docker/metadata-action@v5
        with:
          labels: |
            com.github.release.tag=${{ steps.release.outputs.tag_name }}
          images: name/app